/* Login.css */

.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.login-form--container {
  flex: 1;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--form-bg-color); /* Use dark background color for form */
  color: var(--light-text-color); /* Use light text color */
}

.morti-intro {
  flex: 1;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-right: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.login-form button {
  padding: 8px 16px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--secondary-color);
}

.not-a-member {
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  margin-top: 16px;
}

.not-a-member a {
  color: var(--primary-color);
  text-decoration: none;
}

.not-a-member a:hover {
  text-decoration: underline;
}
