/* Message.css */

/* Modern Classic color palette */
:root {
    --classic-bg-color: #F7F2E7; /* Off-White */
    --classic-fg-color: #454545; /* Dark Gray */
    --classic-accent-color: #D4A190; /* Light Peach */
  }
  
  .single-msg {
    background-color: var(--classic-bg-color);
    color: var(--classic-fg-color);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add max-width to prevent the text from overflowing */
    max-width: 300px; /* Adjust the value based on your design */
  }
  
  .msg-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .msg-text {
    margin-top: 8px;
  }
  