/* TrusteePage.css */

:root {
  --bg-color: #1a1a1a; /* Dark background color for the main content */
  --text-color: #f2f2f2; /* Light text color for dark mode */
  --primary-color: #4CAF50; /* Green for accent elements */
  --secondary-color: #2196F3; /* Blue for buttons and links */
}

.trustee__page {
  display: flex;
  gap: 1%;
  padding: 5%;
}

.left-column,
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Trustee List & Trustee For List */
.trustee-list,
.trustee-for-list {
  background-color: var(--bg-color);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

