.delete-btn {
    background-color: transparent; /* Transparent background for the button */
    color: var(--primary-color); /* Blue color for the button text */
    border: none; /* No border */
    padding: 0; /* Remove padding to make the button compact */
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
  
  
  .delete-btn:hover{
    color: red; /* Change the color on hover */
    /* Add more styles here if desired */
  }